<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Document</title>
</head>
<body>
  <div id="root"></div>
  <template id="app">
    <input type="text" v-model="msg">
    <div>{{msg}}</div>
    <input type="text" v-model="obj.name">
    <div>{{obj.name}}</div>
    <input type="text" v-model="obj.lastName">
    <div>{{fullName}}</div>
  </template>
  <script>
    const root = {
      template: '#app',
      setup(props) {
        const { ref, reactive, watch } = Vue
        const msg = ref('hello!!')
        const fullName = ref('')
        const obj = reactive({
          name: 'mike',
          lastName: 'brown',
          age: 20
        })
        // 具备惰性
        watch(msg, (newValue, oldValue) => {
          console.log(newValue, oldValue)
        })
        // 监听的如果是对象的属性要写成函数形式
        watch(() => obj.name, (newValue, oldValue) => {
          console.log(newValue, oldValue)
        })
        // 监听多个数据
        watch([() => obj.name, () => obj.lastName], ([newName, newLastName], [oldName, oldLastName]) => {
          fullName.value = `${newName} ${newLastName}`
        })
        return {
          msg,
          obj,
          fullName
        }
      }
    }
    const app = Vue.createApp(root)
    app.mount('#root')
  </script>
</body>
</html>